Flask==1.1.1
scipy==1.1.0
matplotlib
Werkzeug==0.15.5
easydict==1.9
opencv_python==4.2.0.32
gevent==1.4.0
mxnet_mkl==1.6.0b20190914
tqdm==4.35.0
bcolz==1.2.1
Pillow==9.0.1
mtcnn_pytorch==1.0.2
mxnet==1.5.0
scikit_learn==0.21.3
tensorboardX==1.8
torch
torchvision
numpy==1.16.1

